*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/********** loading screen start ************/

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

#video-player {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/********** loading screen end ************/

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #D4AF37;
  text-align: left;
  background-color: #000000;
}

a {
  color: #D4AF37;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #000000;
  text-decoration: underline;
}

h1{
color: #020202
}

h2,h3,h4,h5,h6,p{
  color: #D4AF37 !important;
} 



/********** Template CSS ************/


.text-stroke-header {
  -webkit-text-stroke: 3px #D4AF37;
  color: transparent;
}

.btn {
  padding: 10px 25px;
  border-radius: 100px;
}

.btn-social {
  width: 45px;
  height: 45px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  border-radius: 45px;
}

.form-control {
  border-radius: 25px;
}




/* ================ Navigation Menu ====================*/


.navbar-light {
  display: none ;
}

.navbar-light .navbar-nav .nav-link {
  padding: 25px 10px;
  color: #343a40;
  font-weight: 500;
  outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: #D4AF37;
}

@media (max-width: 768px) {
  .navbar-light .navbar-nav .nav-link {
    padding: 10px 0;
  }
}

/*===================== Hero section ======================*/



/*=== wobble effect start ===*/
@keyframes wobble {
  0% {transform: translateY(0);}
  50% {transform: translateY(-15px);}
  100% {transform: translateY(0);}
} 

.wobble-animation {
animation: wobble 2s infinite;
}
/*=== wobble effect finish ===*/
.about-img{
 margin-left: -100px;
 right: -90px;
}

.display-1{
  font-size: 160px;
  font-weight: 1000;
  
}
 
.position-absolute{
  font-weight: 700;
  
}

.typed-cursor {
  font-size: 45px;
  color: #000000;
}

.blue{
  background-color: #D4AF37;
  color: #000000;
}
.btn{
  border: 2px solid rgb(212, 175, 55);
} 
.btn-white{
  background-color: #D4AF37;
  border:2px solid #D4AF37;
}
.btn-blue{
  border: 2.4px solid #D4AF37;
  color: #D4AF37;
}
a.btn-outline-primary:hover{
  color:#D4AF37
}
.white {
  background-color: transparent; /* Change the background color to #D4AF37 */
  color: #000000; /* Change the text color to a suitable contrasting color */
}

.btn-outline-primary {
  color: #D4AF37; /* Change the text color to #D4AF37 */
  border-color: #D4AF37; /* Change the border color to #D4AF37 */
}

/* Add these rules if necessary to adjust the hover state */
.white:hover {
  background-color: #D4AF37; /* Change the background color on hover */
  color: #000000; /* Change the text color on hover */
}

.btn-outline-primary:hover {
  color: #000; /* Change the text color on hover */
  background-color: #D4AF37; /* Change the background color on hover */
  border-color: #D4AF37; /* Change the border color on hover */
}

/*===================== Progress Bar ====================*/

.progress {
  border-radius: 10px;
}

.progress .progress-bar {
  width: 0px;
  border-radius: 10px;
  transition: 2s;
}


/* =================== Qualification ======================*/
.ex-me .far.fa-dot-circle.text-primary ::before{
  color: #D4AF37 !important;
}
.border-primary {
  border-color: #D4AF37 !important;
}

/* =================== Service Section ==================*/
.service-h4{
  padding-bottom: 30px;
}

.read-more-link {
  color: #D4AF37 !important;
  border-color: #D4AF37 !important;
}
.service-icon {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
}

.service-box{
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1);  
  margin-left: 20px;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
}
.service-box:hover{
  box-shadow: 0px 1px 13px rgba(27, 27, 27, 0.705); 
 
}
/* =================== Portfolio section ==================*/


.portfolio-item .portfolio-btn {
  position: absolute;
  width: 0;
  height: 0;
  background-color: #D4AF37;
  color: #000000;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  opacity: 0;
  transition: .5s;
}
#portfolio-filters li:hover {
color: inherit;
border-color: inherit;
}
.portfolio-item:hover .portfolio-btn {
  opacity: 1;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  top: 30px;
  left: 30px;
  background-color: #D4AF37 !important;
}

/* ====================== Testimonial ================*/
.testimonial-carousel .text-center{
  background-color: #000000;
  border-radius: 20px;
  margin: 20px;

}

.testimonial-carousel .owl-dots {
  margin-top: 25px;
  text-align: center;
}

.testimonial-carousel .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background: #dddddd;
}

.testimonial-carousel .owl-dot.active {
  background: #D4AF37;
}



/* ========================== Contact Us ========================*/

.contact-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.contact-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  background-color: #000000;
  border-radius: 10px;
  color: #D4AF37;
  text-decoration: none;
  transition: background-color 0.3s;
}

.contact-button:hover {
  background-color: #D4AF37;
  color: #000000;
}

.contact-button i {
  margin-bottom: 0.5rem;
}

.contact-button span {
  font-size: 1.2rem;
}
/*====================== Back to buttom ==================*/

.scroll-to-bottom {
  position: fixed;
  width: 20px;
  left: calc(50% - 10px);
  bottom: 30px;
  z-index: 11;
  animation: action 1s infinite alternate;
}

.back-to-top {
  position: fixed;
  display: none;
  width: 30px;
  text-align: center;
  color: #D4AF37;
  background-color: #000000;
  right: 30px;
  bottom: 30px;
  z-index: 11;
  animation: action 1s infinite alternate;
}


@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
  }
